.navigaatio{
  position: fixed;
  top: 100px;
  left: 0px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  text-decoration: none;
}
.navigaatio:hover{
  background-color: #FF0000;
}
.navigaatio:active{
  background-color: #FFFFFF;
}

.opinnot{
  border: 1px #166807 solid;
  padding: 20px;
  border-radius: 20px;
}

.tiedot{
  background-image: url("taustakuvadiv.jpg");
}






